In [120]:
import pandas as pd
import datetime as dt

In [121]:
chip = pd.read_csv('https://raw.githubusercontent.com/robertasgabrys/DSO559/main/PotatoeChipSales.csv')

In [122]:
chip.head()

        Date        Store Chip brand  Number of bags sold
0  1/31/2011  Whole Foods   Pringles                   24
1  1/31/2011  Whole Foods   Tostitos                   49
2  1/31/2011  Whole Foods      Lay's                   48
3  1/31/2011  Whole Foods   Popchips                   27
4  1/31/2011  Whole Foods  Sun Chips                   23

In [123]:
chip['Number of bags sold'].max()

50

In [124]:
len(chip['Store'].unique())

20

In [125]:
chip \
    .groupby(['Date']) \
    .agg({'Number of bags sold':'sum'}).max()

Number of bags sold    3116
dtype: int64

In [126]:
chip \
    .groupby(['Chip brand']) \
    .agg({'Number of bags sold':'mean'})

            Number of bags sold
Chip brand
Lay's                 29.746429
Popchips              30.328571
Pringles              30.050000
Sun Chips             29.092857
Tostitos              30.000000

In [127]:
chip \
    .groupby(['Chip brand','Store']) \
    .agg({'Number of bags sold':'mean'})

                          Number of bags sold
Chip brand Store
Lay's      ALBERTSONS               27.142857
           Asda                     25.928571
           Food4Less                33.642857
           Hillsborough             25.857143
           Krogers                  27.714286
...                                       ...
Tostitos   Tesco                    31.571429
           Tiburon                  31.571429
           Walmart                  32.428571
           Whole Foods              29.500000
           Woodside                 24.428571

[100 rows x 1 columns]

In [128]:
chip.loc[chip['Chip brand'] == "Pringles",['Number of bags sold']].mean()

Number of bags sold    30.05
dtype: float64

In [129]:
chip \
    .groupby(['Chip brand']) \
    .agg({'Number of bags sold':'sum'})

            Number of bags sold
Chip brand
Lay's                      8329
Popchips                   8492
Pringles                   8414
Sun Chips                  8146
Tostitos                   8400

In [130]:
chip.loc[chip['Chip brand'] == "Sun Chips",['Number of bags sold']].sum()

Number of bags sold    8146
dtype: int64

In [131]:
chip \
    .groupby(['Store','Chip brand']) \
    .agg({'Number of bags sold':'mean'}).max()

Number of bags sold    37.214286
dtype: float64

In [132]:
import pandas as pd
add = pd.read_csv('https://raw.githubusercontent.com/robertasgabrys/DSO559/main/AdditionalInformation.csv')
add.head()

,Table 1: Wholesale price in dollars of 1 bag of chips in each store by chip brand,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Table 2: Markup percetage in each store (in %),Unnamed: 9
0,NaN,Lay's,Popchips,Pringles,Sun Chips,Tostitos,NaN,NaN,NaN,NaN
1,ALBERTSONS,1.05,1.44,1.37,1.2,1.22,NaN,NaN,ALBERTSONS,21.0
2,Asda,1.49,1.02,1.2,1.4,1.11,NaN,NaN,Asda,24.0
3,Food4Less,1.13,1.3,1.5,1.05,1.14,NaN,NaN,Food4Less,5.0
4,Hillsborough,1.32,1.35,1.12,1.5,1.38,NaN,NaN,Hillsborough,10.0

In [133]:
import pandas as pd
add = pd.read_csv('https://raw.githubusercontent.com/robertasgabrys/DSO559/main/AdditionalInformation.csv', usecols= [0,1,2,3,4,5], skiprows=[0])
add.head()

      Unnamed: 0  Lay's  Popchips  Pringles  Sun Chips  Tostitos
0     ALBERTSONS   1.05      1.44      1.37       1.20      1.22
1           Asda   1.49      1.02      1.20       1.40      1.11
2      Food4Less   1.13      1.30      1.50       1.05      1.14
3  Hillsborough    1.32      1.35      1.12       1.50      1.38
4        Krogers   1.33      1.23      1.37       1.08      1.50

In [134]:
add.columns= ['Store', "Lay's", 'Popchips', 'Pringles', 'Sun Chips', 'Tostitos']
add.head()

           Store  Lay's  Popchips  Pringles  Sun Chips  Tostitos
0     ALBERTSONS   1.05      1.44      1.37       1.20      1.22
1           Asda   1.49      1.02      1.20       1.40      1.11
2      Food4Less   1.13      1.30      1.50       1.05      1.14
3  Hillsborough    1.32      1.35      1.12       1.50      1.38
4        Krogers   1.33      1.23      1.37       1.08      1.50

In [135]:
add.set_index('Store', inplace=True)
add.head()

               Lay's  Popchips  Pringles  Sun Chips  Tostitos
Store
ALBERTSONS      1.05      1.44      1.37       1.20      1.22
Asda            1.49      1.02      1.20       1.40      1.11
Food4Less       1.13      1.30      1.50       1.05      1.14
Hillsborough    1.32      1.35      1.12       1.50      1.38
Krogers         1.33      1.23      1.37       1.08      1.50

In [136]:
add = add.unstack().reset_index()
add.head()

  level_0          Store     0
0   Lay's     ALBERTSONS  1.05
1   Lay's           Asda  1.49
2   Lay's      Food4Less  1.13
3   Lay's  Hillsborough   1.32
4   Lay's        Krogers  1.33

In [137]:
add.columns= ['Chip brand', 'Store', 'Wholesale price']
add.head()

  Chip brand          Store  Wholesale price
0      Lay's     ALBERTSONS             1.05
1      Lay's           Asda             1.49
2      Lay's      Food4Less             1.13
3      Lay's  Hillsborough              1.32
4      Lay's        Krogers             1.33

In [138]:
import pandas as pd
add1 = pd.read_csv('https://raw.githubusercontent.com/robertasgabrys/DSO559/main/AdditionalInformation.csv', usecols= [8,9], skiprows=[0])
add1.head()

      Unnamed: 8  Unnamed: 9
0     ALBERTSONS          21
1           Asda          24
2      Food4Less           5
3  Hillsborough           10
4        Krogers          20

In [139]:
add1.columns=['Store', 'Percentage']
add1.head()

           Store  Percentage
0     ALBERTSONS          21
1           Asda          24
2      Food4Less           5
3  Hillsborough           10
4        Krogers          20

In [140]:
add = pd.merge(add,add1,left_on=['Store'],right_on=['Store'], how='inner')
add.head()

  Chip brand       Store  Wholesale price  Percentage
0      Lay's  ALBERTSONS             1.05          21
1   Popchips  ALBERTSONS             1.44          21
2   Pringles  ALBERTSONS             1.37          21
3  Sun Chips  ALBERTSONS             1.20          21
4   Tostitos  ALBERTSONS             1.22          21

In [141]:
add = pd.merge(add,chip,left_on=['Store','Chip brand'],right_on=['Store','Chip brand'], how='inner')
add.head()

,Chip brand,Store,Wholesale price,Percentage,Date,Number of bags sold
0,Lay's,ALBERTSONS,1.05,21,1/31/2011,15
1,Lay's,ALBERTSONS,1.05,21,2/1/2011,19
2,Lay's,ALBERTSONS,1.05,21,2/2/2011,45
3,Lay's,ALBERTSONS,1.05,21,2/3/2011,14
4,Lay's,ALBERTSONS,1.05,21,2/4/2011,28

In [142]:
#total wholesale price = wholesale price of 1 bag of chips (from Table 1) * Total number of bags sold
add['total wholesale price']  = add['Wholesale price'] * add['Number of bags sold']

In [143]:
add.groupby(['Store']).agg({'total wholesale price':'sum'}).min()

total wholesale price    2411.27
dtype: float64

In [144]:
#total sales revenue per store？ take min()
#sales revenue per 1 bag = wholesale price of 1 bag* (1+markup percentage/100)
add['sales revenue per bag']  = add['Wholesale price'] * (add['Percentage']/100+1)

In [145]:
add['total rev per store'] = add['sales revenue per bag'] * add['Number of bags sold']

In [146]:
add.groupby(['Store']).agg({'total rev per store':'sum'}).max()

total rev per store    3543.486
dtype: float64

In [147]:
#total profit per store. take max
#profit = retail price - wholesale price
add['profit'] = add['sales revenue per bag'] - add['Wholesale price']

In [148]:
add['total profit'] = add['profit'] * add['Number of bags sold']

In [149]:
add.groupby(['Store']).agg({'total profit':'sum'}).min()

total profit    121.185
dtype: float64

In [150]:
import datetime as dt

In [151]:
add['Date'] = pd.to_datetime(add['Date'])

In [152]:
add['Date'] = add['Date'].dt.day_name()
add.head()

,Chip brand,Store,Wholesale price,Percentage,Date,Number of bags sold,total wholesale price,sales revenue per bag,total rev per store,profit,total profit
0,Lay's,ALBERTSONS,1.05,21,Monday,15,15.75,1.2705,19.0575,0.2205,3.3075
1,Lay's,ALBERTSONS,1.05,21,Tuesday,19,19.95,1.2705,24.1395,0.2205,4.1895
2,Lay's,ALBERTSONS,1.05,21,Wednesday,45,47.25,1.2705,57.1725,0.2205,9.9225
3,Lay's,ALBERTSONS,1.05,21,Thursday,14,14.70,1.2705,17.7870,0.2205,3.0870
4,Lay's,ALBERTSONS,1.05,21,Friday,28,29.40,1.2705,35.5740,0.2205,6.1740

In [153]:
add['DateNumeric'] = add['Date'].dt.day

AttributeError: ignored

In [154]:
#total profit per store. take max
#profit = retail price - wholesale price
add['total profit per brand'] = (add['sales revenue per bag'] - add['Wholesale price']) * add['Number of bags sold']

In [163]:
add.groupby(['Store']).agg({'total profit per brand':'sum'}).min

<bound method NDFrame._add_numeric_operations.<locals>.min of                 total profit per brand
Store
ALBERTSONS                    545.1516
Asda                          583.0416
Food4Less                     121.1850
Hillsborough                  280.0210
Krogers                       540.9560
Monte Sereno                  685.8360
Montecito                     642.3404
Morrison                      481.1289
Pavilions                     660.7700
Piedmont                      524.6204
Ralphs                        168.7889
Rolling Hills                 780.6104
Sainsbury                     716.0686
Sausalito                     608.8500
Smiths                        439.7328
Tesco                         463.9446
Tiburon                       399.8512
Walmart                       639.4206
Whole Foods                   547.8720
Woodside                      403.4368>

In [156]:
[add.groupby(['Store']).agg({'total profit per brand':'sum'}).min()].sum()

AttributeError: ignored

In [ ]:
sum(add.groupby(['Store']).agg({'total profit per brand':'sum'}).min())

In [ ]:
add.loc[add['Store']=='ALBERTSONS','total profit per brand in each store'].min()

In [ ]:
add.groupby(['Store','Chip brand']).agg({'total profit':'sum'}).min()